@import "@flaticon/flaticon-uicons/css/all/all";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #211;
}

.container {
  display: grid;
  place-items: center;
  padding-top: 5rem;
}

.m-auto {
  margin-inline: auto;
}

.btn {
  padding: 12px 28px;
  background-color: #000;
  border-radius: 5px;
  font-weight: 400;
  font-size: 18px;
  cursor: pointer;
}

.btn-danger {
  background-color: #f40;
  color: #000;
}

.btn-warning {
  background-color: #ffc187;
  color: #000;
}

.btn-warning:hover {
  background: rgba(255, 193, 7, 0.75);
}

.btn-info {
  background-color: #17a2b8;
  color: white;
}

.btn-info:hover {
  background: rgba(23, 162, 184, 0.75);
}

.btn-light {
  background-color: #f8f9fa;
  color: black;
}

.my-4 {
  margin-top: 3.75rem;
  margin-bottom: 4rem;
}

/* Title and Subtitle */
.title {
  font-size: 3.75rem;
  font-weight: 600;
  margin: 3rem 0;
}

.title-main {
  font-size: 5rem;
  font-weight: 600;
  margin: 4rem 0;
}

.subtitle {
  font-size: 2.5rem;
  font-weight: 400;
  margin: 4rem 0;
}

@media screen and (max-width: 1000px) {
  .container {
    padding-top: 3rem;
  }

  .title {
    font-size: 2.75rem;
    font-weight: 600;
    margin: 2rem 0;
  }
  
  .title-main {
    font-size: 3.5rem;
    font-weight: 600;
    margin: 4rem 0;
  }
  
  .subtitle {
    font-size: 1.5rem;
    font-weight: 400;
    margin: 4rem 0;
  }

  .my-4 {
    margin-top: 2.75rem;
    margin-bottom: 3rem;
  }

}